{% extends "base.html" %}

{% block page_title %}사건 추가{% endblock page_title %}

{% block addcase_search_bar %}{% endblock addcase_search_bar %}


{% block content %}
<div class="container p-3 float-left">
    <h5 class="my-3 border-bottom pb-2 text-center"><strong>사건 수정</strong></h5>
    <form method="post" class="post-form my-3">
        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <strong>{{field.label}}</strong>
            {{field.errors}}
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <div class="form-group">
            <label for="plaintiff_name">원고</label>
            <input required type="text" class="form-control" name="plaintiff_name" id="plaintiff_name"
                value="{{form.plaintiff_name.value|default_if_none:''}}">
        </div>
        <div class="form-group">
            <label for="defendant_name">피고</label>
            <input required type="text" class="form-control" name="defendant_name" id="defendant_name"
                value="{{form.defendant_name.value|default_if_none:''}}">
        </div>
        <div class="form-group">
            <label for="court_datetime">다음 기일</label>
            <input required type="datetime-local" class="form-control" name="court_datetime" id="court_datetime"
                value="{{form.court_datetime.value|date:'Y-m-d'}}T{{form.court_datetime.value|time:'h:i'}}">
        </div>
        <div class="form-group">
            <label for="court_location">장소</label>
            <select class="form-select" name="court_location" id="court_location">
                {% for a in form.court_location %}
                {{a}}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="case_num">사건번호</label>
            <input required type="text" class="form-control" name="case_num" id="case_num"
                value="{{form.case_num.value|default_if_none:''}}">
        </div>
        <div class="form-group">
            <label for="case_name">사건명</label>
            <input required type="text" class="form-control" name="case_name" id="case_name"
                value="{{form.case_name.value|default_if_none:''}}">
        </div>
        <div class="form-group">
            <label for="casedate_type">기일구분</label>
            <select class="form-select" name="casedate_type" id="casedate_type">
                {% for a in form.casedate_type %}
                {{a}}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="case_attorney">담당변호사</label>
            <select class="form-select" name="case_attorney" id="case_attorney">
                {% for a in form.case_attorney %}
                {{a}}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="memo">메모</label>
            <textarea class="form-control" name="memo" id="memo" rows="10"
                value="{{form.memo.value|default_if_none:''}}"></textarea>
            <br>
            <button class="btn btn-primary" type="submit">수정하기</button>

    </form>
</div>
{% endblock %}