
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" style="background-color: #DCFDFF;">
    <a class="navbar-brand p-3" href="/">CASEMANAGER</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "users:logout" %}">로그아웃 </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "users:signup" %}"> 계정 만들기 </a>
            </li>
        </ul>
    </div>
</nav>

